
    #square {
         height: 50px;
         width: 50px;
         background-color: blue;
    }

    #van {
        height: 100px;
        width: 100px;
        background-color: green;
        border-radius: 100px;
    }

    .cont {
        background-color: red;
    }
